body {
  margin: 0;
  font-family: 'Andale Mono' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdadda !important;
}

code {
  font-family:'Andale Mono' !important;
}

.color-nav{
  background-color:#7950f2 ;
}
