.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  color: #7950f2;
  opacity: 1;
}

/* * {
  color: black;
} */

input:focus + label {
  color: black;
  top: -15px;
  left: 10px;
  opacity: 0;
}
