.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: green;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  height: 70px;
  width: 70px;
  font-size: .75em;
  font-weight: bold;
  fill: green;
}
.alternative-names{
    font-size: 13px;
}
.main-body {
    margin: 0%;
}
.right-side-sidebar-info{
    border: solid green;
    width: 15%;
    height: fit-content;
    float: right;
}
.game-header-container{
    height: auto;
    width: 100%;
    border: solid green;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    border: solid green;
    align-items: center;
    flex-direction: column;
}
.game-cover-name-container{
    float: left;
    width: fit-content;
    height: fit-content;
    border: solid green;
    padding: 1%;
    order: 3;
    display: flex;
}
.game-cover-container{
    width: auto;
    order: 1;
    float: left;
    z-index: 100;
}
.game-cover{
    max-width: 100%;
    height: auto;
    float: left;
    border-radius: 15px;
}
.game-name-container{
    float: left;
    margin: auto;
    width: auto;
    border: solid green;
    padding: 1%;
    order:2;
}
.game-name{
    width: auto;

}
.game-important-details{
    float: left;
    height: auto;
    margin-left: 0%;
    width: auto;
    border: solid green;
    padding: 1%;
    order: 3;

}
.game-about-container{
    float: left;
    height: auto;
    margin-left: 0%;
    width: 75%;
    border: solid green;
    padding: 1%;
    font-size: .75em;

}

.genres:link, .genres:visited{
    color: black;
}
.genres:hover, .genres:active{
    background-color: green;
    color: white;
}
.game-rating-container{
    height: 175px;
    width: 110px;
    border: solid green;
    float: left;


}

.game-rating{
    width: 100px;
    position: absolute;
    text-align: center;
}
.game-rating-count{
    width: 100px;
    position: absolute;
    text-align: center;
    font-size: .5em;
}

.similar-game-carousel{
    border: solid green;
    text-align: center;
}

.similar-game-container{
    border: solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    float: left;
}

.screenshots-container{
    border: solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    float: left;
}


.keyword-container{
    border: solid green;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    float: right;
}
.keyword-button-container{
  padding: .3%;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: .3%;

}
.keyword-button{
    font-size: 13px;
    border-radius: 5px;
    border: solid white;
    background-color: #ddd;
}

.keyword-button:link, .keyword-button:visited{
    color: black;

}
.keyword-button:hover, .keyword-button:active{
    background-color: green;
    color: white;
}
