body {
  margin: 0;
  font-family: 'Andale Mono' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdadda !important;
  font-size: 2.1rem !important;
}

code {
  font-family:'Andale Mono' !important;
}
