.nav-search-form-container{
    color: black;
    border: 2px solid black;
    background-color: white;
    display:flex;
    border-radius: 10px;

}
.nav-search-form-input{
    color:black;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.nav-search-form-button{
    color:white;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    background-color: rgb(0, 0, 0);

}
input::placeholder {
  color: black;
  opacity: 1;
}
input:focus{
    outline:none
}
.nav-search-dropdown-container{
position: fixed;
}
.nav-search-dropdown{
float:left;
padding: 0;
width: max-content;
}
.nav-search-dropdown-item{
    list-style: none;
    border: 1px solid black;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1%;
    border-radius: 10px;

}
.nav-search-dropdown-item-link{
    font-size: 15px;
    text-decoration: none;
    padding: 1%;
    width: inherit;
}
.nav-search-dropdown-item-link:link, .nav-search-dropdown-item-link:visited{
    color: black;
    border-radius: 10px;
}
.nav-search-dropdown-item-link:hover, .nav-search-dropdown-item-link:active{
    background-color: black;
    color: white;
    border-radius: 10px;
}
